In [168]:
import pandas as pd

In [169]:
impVinhos = pd.read_csv('dados/ImpVinhos.csv', sep=";")

In [183]:
impVinhos.head(10)

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1
0,1,Africa do Sul,0,0.00,0,0,0,0,0,0,...,1127053,3574371,1092042,3604038,627150,1701072,859169,2508140,"738,116.00","2,266,827.00"
1,2,Alemanha,52297,"30,498.00",34606,26027,134438,92103,111523,98638,...,142971,516975,101055,412794,136992,504168,106541,546967,"92,600.00","438,595.00"
2,3,Argélia,0,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.00,0.00
3,4,Arábia Saudita,0,0.00,0,0,0,0,0,0,...,563,3249,0,0,0,0,2510,8761,0.00,0.00
4,5,Argentina,19525,"12,260.00",24942,15022,104906,58137,116887,76121,...,15221318,52817642,16548931,54527380,22610267,66322932,26869241,79527959,"27,980,574.00","87,519,642.00"
5,6,Armênia,0,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"2,385.00","13,668.00"
6,7,Austrália,0,0.00,0,0,0,0,0,0,...,3518,21664,16292,1214643,212595,792051,366875,1383093,"579,279.00","1,590,059.00"
7,8,Áustria,1328,707.00,0,0,353,520,2310,2081,...,513995,1567866,348289,128379,6540,52348,13427,141822,"7,403.00","53,974.00"
8,9,Bermudas,0,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,10,141,1.00,4.00
9,10,Bélgica,0,0.00,0,0,0,0,0,0,...,163,1201,7,30,0,0,0,0,0.00,0.00

In [171]:
#colunas = impVinhos.columns.to_list()

argentina = impVinhos.query('País == "Argentina"')[colunas[62:]]

In [172]:
type(argentina)

pandas.core.frame.DataFrame

In [173]:
argentina2.isna().value_counts()

False    108
Name: 4, dtype: int64

In [222]:
pd.options.display.float_format = '{:.2f}'.format

In [223]:
argentina.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 4 to 4
Data columns (total 46 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2000    1 non-null      int64
 1   2000.1  1 non-null      int64
 2   2001    1 non-null      int64
 3   2001.1  1 non-null      int64
 4   2002    1 non-null      int64
 5   2002.1  1 non-null      int64
 6   2003    1 non-null      int64
 7   2003.1  1 non-null      int64
 8   2004    1 non-null      int64
 9   2004.1  1 non-null      int64
 10  2005    1 non-null      int64
 11  2005.1  1 non-null      int64
 12  2006    1 non-null      int64
 13  2006.1  1 non-null      int64
 14  2007    1 non-null      int64
 15  2007.1  1 non-null      int64
 16  2008    1 non-null      int64
 17  2008.1  1 non-null      int64
 18  2009    1 non-null      int64
 19  2009.1  1 non-null      int64
 20  2010    1 non-null      int64
 21  2010.1  1 non-null      int64
 22  2011    1 non-null      int64
 23  2011.1  1 non-null      int64
 24  2012    1 non-null      int64
 25  2012.1  1 non-null      int64
 26  2013    1 non-null      int64
 27  2013.1  1 non-null      int64
 28  2014    1 non-null      int64
 29  2014.1  1 non-null      int64
 30  2015    1 non-null      int64
 31  2015.1  1 non-null      int64
 32  2016    1 non-null      int64
 33  2016.1  1 non-null      int64
 34  2017    1 non-null      int64
 35  2017.1  1 non-null      int64
 36  2018    1 non-null      int64
 37  2018.1  1 non-null      int64
 38  2019    1 non-null      int64
 39  2019.1  1 non-null      int64
 40  2020    1 non-null      int64
 41  2020.1  1 non-null      int64
 42  2021    1 non-null      int64
 43  2021.1  1 non-null      int64
 44  2022    1 non-null      float64
 45  2022.1  1 non-null      float64
dtypes: float64(2), int64(44)
memory usage: 376.0 bytes

In [224]:
totalEmbrapa = argentina.sum(axis = 1)

In [225]:
argentinaMdic = pd.read_csv('dados/IMP_2000_2022_20230831.csv', sep=",")
argentinaMdic = argentinaMdic.query('Country == "Argentina" ').groupby('Country').sum()

In [226]:
argentinaMdic

,NCM Code,2022 - US$ FOB,2022 - Net Weight,2022 - Quantity,2021 - US$ FOB,2021 - Net Weight,2021 - Quantity,2020 - US$ FOB,2020 - Net Weight,2020 - Quantity,...,2003 - Quantity,2002 - US$ FOB,2002 - Net Weight,2002 - Quantity,2001 - US$ FOB,2001 - Net Weight,2001 - Quantity,2000 - US$ FOB,2000 - Net Weight,2000 - Quantity
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,88170830,87381601,27933534,27897816,79383437,26753452,26707668,66287662,22588951,22578666,...,5547057,6884837,3865668,3810130,6196286,2585533,2569979,6563482,2744752,2674564

In [227]:
colunasValor = []
for valor in argentinaMdic.columns:
    if valor.find('US$') != -1:
        colunasValor.append(valor)
    
colunasValor

['2022 - US$ FOB',
 '2021 - US$ FOB',
 '2020 - US$ FOB',
 '2019 - US$ FOB',
 '2018 - US$ FOB',
 '2017 - US$ FOB',
 '2016 - US$ FOB',
 '2015 - US$ FOB',
 '2014 - US$ FOB',
 '2013 - US$ FOB',
 '2012 - US$ FOB',
 '2011 - US$ FOB',
 '2010 - US$ FOB',
 '2009 - US$ FOB',
 '2008 - US$ FOB',
 '2007 - US$ FOB',
 '2006 - US$ FOB',
 '2005 - US$ FOB',
 '2004 - US$ FOB',
 '2003 - US$ FOB',
 '2002 - US$ FOB',
 '2001 - US$ FOB',
 '2000 - US$ FOB']

In [228]:
argentinaMdic = argentinaMdic[colunasValor]

In [229]:
argentinaMdic

,2022 - US$ FOB,2021 - US$ FOB,2020 - US$ FOB,2019 - US$ FOB,2018 - US$ FOB,2017 - US$ FOB,2016 - US$ FOB,2015 - US$ FOB,2014 - US$ FOB,2013 - US$ FOB,...,2009 - US$ FOB,2008 - US$ FOB,2007 - US$ FOB,2006 - US$ FOB,2005 - US$ FOB,2004 - US$ FOB,2003 - US$ FOB,2002 - US$ FOB,2001 - US$ FOB,2000 - US$ FOB
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,87381601,79383437,66287662,54511669,52817653,51722763,45214862,48043210,53814455,49524670,...,38525701,37382580,35703626,25347970,21463435,17049751,9618689,6884837,6196286,6563482

In [230]:
totalMdic = argentinaMdic.sum(axis=1)

In [231]:
totalMdic = totalMdic[0].astype(float)

In [240]:
type(totalEmbrapa[0])

KeyError: 0

In [235]:
totalMdic

960010442.0